<div class="container">
  <%= form_for @trip, url: {action: "create"} do |f| %>
  <fieldset>
    <legend>Save a hike:</legend>
    <%= f.collection_select :hiker_id, @hikers.all, :id, :name, prompt: "What is your name?" %><br/><br/>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes, cols: 40, rows: 15 %><br/><br/>
    <%= f.label "Completed at:" %>
    <%= f.date_select :completed_at, {order: [:month, :day, :year]} %>
  </fieldset>
  <br>
  <%= f.submit("Save!") %>
<% end %>
<%= link_to "Go back to hike", hike_path(params[:hike_id]), class: "btn btn-default" %>
</div>
