<div class="background"></div>
  <h1 class="intro">Welcome <%= @current_user.name if !@current_user.nil? %></h1>
  <%= link_to "See all hikes", hikes_path, class: "btn btn-default" %>
  <br>
  <% if @current_user.nil? %>
    <%= link_to "Login to your page", login_path, class: "btn btn-default" %>
    <br>
    <%= link_to "Create an account", new_hiker_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-default" %>
  <% end %>
</div>
