<div class="background"></div>
  <h1>Find a hike</h1>
  <table class="table">
      <tr >
        <th>Name</th>
        <th>Length (miles RT)</th>
        <th>Elevation (ft)</th>
        <th>Highest Point</th>
        <th>Parking Pass</th>
      </tr>
      <% @hikes.each do |hike| %>
      <tr >
        <td><%= link_to "#{hike.name}", hike_path(id: hike.id), class: "black-link" %></td>
        <td><%= hike.length %></td>
        <td><%= hike.elevation_gain %></td>
        <td><%= hike.highest_point %> </td>
        <td><%= hike.parking_pass %> </td>
      </tr>
      <% end %>
    </table>

    <div id="map-container">
      <div id="map-canvas"></div>
    </div>
    <br/>
    <%= link_to "See all Hikers", hikers_path, class: "btn btn-default" %>

        <script type="text/javascript">
          var map;
          function initialize(){
            var mapOptions = {
              center: new google.maps.LatLng(47.624397, -122.326486),
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
          }
          initialize();

          //google.maps.event.addDomListener(window, 'load', initialize);
          var infowindow = new google.maps.InfoWindow({
            content: ""
          });
          function createMarker(coords, title, text){
            var marker = new google.maps.Marker({
              position: coords,
              map: map,
              title: title
            });
            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(text);
              infowindow.open(map,marker);
            });
          }
        </script>

        <% @hikes.each do |hike| %>
          <script type="text/javascript">
            createMarker(new google.maps.LatLng( <%= hike.coordinates %> ), "<%= hike.name %>", "<%= hike.name %>, <%= hike.length %> ft. roundtrip, <%= hike.elevation_gain %> ft. elevation gain");
          </script>
        <% end %>

</div>
