<div>
  <h1><%= @hike.name %></h1>
  <h3>Quick Info</h3>
  <%= @hike.length %> miles RT, <%= @hike.elevation_gain %> ft. elevation gain to <% @hike.highest_point %> ft. highest point
  <%= @hike.parking_pass %> required
  <%= @hike.coordinates %>
  <h3>Description</h3>
    <p>
      <%= @hike.description %>
    </p>

  <%= link_to "Save Hike to my backpack", 
</div>
