<div class="navbar navbar-default">
  <%= link_to 'Home', root_path %> /
  <%= link_to 'All Hikes', hikes_path %> /
  <% if @current_user.nil? %>
    <%= link_to 'Login', login_path %> /
    <%= link_to 'Sign Up', signup_path %>
  <% end %>
  <% if !@current_user.nil? %>
  <%= link_to 'Profile', hiker_path(Hiker.find(session[:hiker_id])) %> /
    <%= link_to 'New Hike', new_hike_path %> /
    <%= link_to 'Log Out', logout_path %>
  <% end %>
</div>
